.rows{
    overflow: scroll;
}
.card{
    
    line-height: 10px;
    padding: 0;
}



.eventForm{
    width: 100%;
    transform: translate(-10vw,0);
}

.report{
    border-radius: 6px;
    background-color: grey;
    border: none;

}

h3{
    float: left;
}

.search{
    margin-bottom: 4px;
    transform: translate(0,-4px)
}
.download{
    float: right;
    margin-left: 30px;
}

.checkbox{
    
}


.addBtn{
    margin-left: 50px;
    transform: translate(0,-5px);
    margin-bottom: 5px;
}

.roleFilter, .yearFilter, .eventFilter{
    width: 120px;
    margin-left: 20px;
}

.selectYear{
    width: 120px;
    margin-left: 50px;
    transform: translate(0,-5px);
}
